<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        {{image.title}}
        <button class="btn btn-danger" id="btn-delete" data-id="{{image.uniqueId}}">
            <i class="fa fa-times"></i> Delete
        </button>
    </div>
    <div class="card-body">
        <p>{{image.description}}</p>
        <div class="text-center">
            <img src="/public/upload/{{image.filename}}" class="img-fluid">
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <button class="btn btn-success" id="btn-like" data-id="{{image.filename}}">
            <i class="fas fa-thumbs-up"> Like</i>
        </button>
        <p>
            <span class="likes-count">{{image.likes}}</span>
            <i class="fas fa-heart"></i>
        </p>
        <p>
            {{image.views}}<i class="fas fa-eye"></i>
        </p>
        <p>
            {{timeAgo image.timestamp}}
            <i class="far fa-clock"></i>
        </p>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Comments</h3>
        <button class="btn btn-info" id="btn-toggle-comment">
            <i class="fa fa-comment-o"></i> Post a Comment
        </button>
    </div>
    <div class="card-body">
        <blockquote>
            <form action="/images/{{image.uniqueId}}/comment" method="post">
                <div class="form-group">
                    <input type="text" name="name" id="" placeholder="Name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" id="" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea name="comment" rows="2" class="form-control" placeholder="Your comment"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="btn-comment">
                        <i class="fa fa-comment"></i> Post
                    </button>
                </div>
            </form>
        </blockquote>
        <ul class="list-group p-4">
            {{#each comments}}
                <li class="list-group-item">
                    <div class="row">
                        <a href="" class="col text-center">
                            <img src="http://gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45" alt="" srcset="">
                        </a>
                        <blockquote class="col">
                            <p class="lead">{{comment}}</p>
                            <footer class="blockquote-footer">
                                {{name}} - {{timeAgo timestamp}}
                            </footer>
                        </blockquote>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>